<section class="mainsection" style="background-image: url(/assets/mainimg2.jpg);">
    <!--<%= image_tag "mainimg.jpg", class: "mainimg" %>-->
    <p class="sectionword"><strong>당신에게 가장 적합한 영양제!</strong></p>
</section>
<section class="section2">
    <p class="section2p1">여러개의 영양제를 사지마세요!</p>
    <p class="section2p2"><strong>가장 적합한 영양제를 찾아줍니다.</strong></p>
</section>